/*
  CSS Reset
  A simple reset to remove default browser styles.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture {
    display: block;
    max-width: 100%;

    object-fit: cover;
}

:root {
    --clr-accent: hsl(158, 36%, 37%);
    --clr-accent-hover: hsl(158, 42%, 18%);

    --clr-text-heading: hsl(212, 21%, 14%);
    --clr-text-body: hsl(228, 12%, 48%);
    --clr-text-on-accent: hsl(0, 0%, 100%);

    --clr-background-main: hsl(30, 38%, 92%);
    --clr-background-card: hsl(0, 0%, 100%);

    --fw-regular: 500;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-background-main);
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    place-items: center;
    font-family: "Montserrat", sans-serif;
}

.product-card {
    max-width: min(90vw, 37.5rem);
    border-radius: 10px;
    background-color: var(--clr-background-card);
    overflow: hidden;
    display: grid;
}

h1 {
    font-size: clamp(1.8rem, 5vw, 2.2rem);
    font-weight: var(--fw-bold);
    font-family: "Fraunces", sans-serif;
    color: var(--clr-text-heading);
    line-height: 1.1;
}

.product-category {
    letter-spacing: 0.2rem;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.product-category,
.product-description,
.price-old {
    color: var(--clr-text-body);
}

.product-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.product-description {
    line-height: 1.6;
    font-size: 0.875rem;
}

.price-group {
    display: flex;
    gap: max(1rem, 1.5vw);
    align-items: center;
}

.price-current {
    color: var(--clr-accent);
    font-size: 2rem;
    font-weight: var(--fw-bold);
    font-family: "Fraunces", sans-serif;
}

.price-old {
    font-size: 0.8rem;
}

.button {
    background-color: var(--clr-accent);
    border: none;
    border-radius: 7px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    color: var(--clr-text-on-accent);
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.button:hover,
.button:focus-visible {
    background-color: var(--clr-accent-hover);
}


@media (min-width: 30.75rem) {
    .product-card {
        grid-template-columns: 1fr 1fr;
    }

    .product-content {
        justify-content: space-between;
    }

    picture img {
        width: 100%;
        height: 100%;
    }
}